<div class="row">
  <div class="col-lg-5 col-12">
    <!-- Flyer image left-half -->
    <img class="img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{ Flyer.Imageurl }}" data-holder-rendered="true">
    <!-- Flyer image left-half -->
  </div>
  <div class="col-lg-7 col-12 d-flex flex-column">
    <!-- Flyer details right half -->
    <div class="row">
      <div class="col-md-12">
        <div class="flyer-title">
          <h1 class="featurette-heading" *ngIf="!ShowProfileLink">
            {{ Flyer.Title }}
            <br />
            <span *ngIf="Flyer.IsFeatured" class="badge badge-info">featured</span>
          </h1>
          <span class="featurette-heading align-items-center" *ngIf="ShowProfileLink">
            <a [routerLink]="['/evynt/']" [queryParams]="{ 'identifier': Flyer.SceneIdentifier }">{{ Flyer.Title }}</a>
            <br />
            <span *ngIf="Flyer.IsFeatured" class="badge badge-info">featured</span>
          </span>
        </div>
      </div>
      <div class="col-md-10 col-6">
        <!-- Flyer user image 100% -->
        <div *ngIf="Flyer.UserImageUrl" class="d-flex align-items-top">
          <div class="user align-items-center d-flex">
            <a [routerLink]="['/profile/']" [queryParams]="{ 'id': Flyer.UserId }" class="flyer-usr-img">
              <img data-toggle="tooltip" title="Hosted By: {{ Flyer.Postedby }}" src="{{ Flyer.UserImageUrl }}" class="rounded-circle host-img"
                alt="Hosted By: {{ Flyer.Postedby }}">
            </a>
          </div>
        </div>
        <!-- Flyer user image 100% -->
      </div>
      <div class="col-md-2 col-6">
        <div class="col-md-auto p-0 ml-auto text-center">
          <h1 *ngIf="Flyer.StartTime" class="m-0">
            <span class="badge badge-secondary">
              {{ Flyer.StartTime.concat('Z') | amUtc | amLocal | amDateFormat:'MMMM' }}
            </span>
          </h1>
          <p *ngIf="Flyer.StartTime" class="m-0">
            {{ Flyer.StartTime.concat('Z') | amUtc | amLocal | amDateFormat:'DD' }}
          </p>
          <p *ngIf="Flyer.StartTime" class="m-0">
            {{ Flyer.StartTime.concat('Z') | amUtc | amLocal | amDateFormat:'h a' }}
          </p>
        </div>
      </div>
    </div>
    <div class="flex-fill">
      <div class="col-md flyer-details">
        <p>{{ Flyer.Description }}</p>
      </div>
    </div>
  </div>
</div>