h1 {
    margin: 0;
    padding: 0;
}

.col-fixed {
    width: 30%;
}

.flyer-usr-img {
    padding-right: 15px;
    border-right: 1px solid rgb(0, 0, 0);
}


.featurette {
    p {
        margin: 0;
        padding: 0;
        line-height: 1;
    }
    .flyer-month {
        font-weight: 800;
    }
    span {
        font-size: 100%;
    }
    .flyer-desc {
        padding: 25px 0;
    }
    .flyer-title {
        padding-bottom:25px;
    }
}

.featurette-heading {
    margin: 0;
    padding-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a {
        font-size: 1em;
    }
}

.host-img {
    max-height: 65px;
}

.flyer-image {
    max-height: 500px;
}

.flyer-details {
    padding: 0;
    font-size: 0.7em;
    font-weight: 100;
}