<div class="card flyer-card">
  <img class="card-img-top flyer-card-img" src="{{ Flyer.Imageurl }}" alt="Card image cap">
  <div class="card-body">
    <!--TODO: send flyer into the flyer component-->
    <h3>{{ Flyer.Title }}
      <span *ngIf="Flyer.IsFeatured" class="badge badge-info">featured</span>
    </h3>
    <p class="card-text">{{ Flyer.Description }}.</p>
    <a [routerLink]="['/evynt/']" [queryParams]="{ 'identifier': Flyer.SceneIdentifier }" class="card-link" *ngIf="ShowMoreLink">More Info</a>
  </div>
</div>
