<p class="nav-location" *ngIf="!location_loading">
  <span *ngIf="location">
    {{ location.city }} |</span>
  <a type="text" (click)="open(content)">
    <span class="change-location">
      <i class="fas fa-map-marker-alt"></i>
      Change Location
    </span>
  </a>
</p>
<span *ngIf="location_loading" class="loading">
  <i class="fas fa-spinner fa-spin"></i>
  loading</span>

<!-- <p *ngIf="!location">
  <i class="fas fa-location-arrow"></i>
  <a type="text" (click)="open(content)">Change Location</a>
</p> -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Change Location:</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex">
      <input #zipcodeField type="number" name="zipcode" id="#zipcodeField" class="col mr-2" placeholder="Zip Code">
      <button type="submit" class="btn btn-dark col-3" (click)="getLocationByZip(zipcodeField.value); c('Close click')">Enter</button>
    </div>
    <p>or</p>
    <p>
      <button type="submit" class="btn-outline-dark" (click)="changeZip(); c('Close click')">Find my location</button>
    </p>
  </div>
</ng-template>
