<div class="container-fluid mb-5">
  <div class="row col d-flex justify-content-center">
    <div class="card" style="height: 214px; width: 214px;" *ngFor="let Post of Posts">
      <img style="height: 100%; width: 100%; object-fit: fill;" class="card-img" src="{{Post.Imageurl}}"
           alt="{{Post.Description}}" placement="bottom" ngbTooltip="{{Post.Description}}">
      <div class="card-body" *ngIf="ShowDeatail">
        <p class="card-text">{{Post.Description}}</p>
      </div>
    </div>
  </div>
</div>
