.carousel-container {
    height: 350px;
    background-position: center;
    background-size: cover;
}
.carousel-caption a{
  color: white;
}

.carousel-caption {
  text-shadow: 2px 2px 4px #000000;
}
