<div class="container-fluid d-flex align-items-center">
  <img class="rounded-circle m-4" src="{{UserImageUrl}}" alt="{{ UserName }}" width="140" height="140">
<h1> {{ UserName }} </h1>
</div>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <app-flyer [Flyer]="flyer" [ShowProfileLink]="true" [ShowShortDescription]="true" [ShowProfileImage]="false" class="flyer-container row d-flex jumbotron"
    *ngFor="let flyer of Flyers"></app-flyer>
</div>
