i {
    font-size: 2.5rem;
}

span {
    line-height: normal;
}

.user-name {
    font-weight: 600;
    margin: 0 15px;
}

.user-info {
    img {
        border-radius: 50%;
        height: 45px;
    }
}